body{
  line-height:1.6;
  font-size:18px;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
main {
  max-width:700px;
  margin: 10px auto;
}
h1,h2,h3,p{
  line-height: 1.2;
  margin: 10px 0px 10px 0px;
}
a{
  color: #00ff00;
}
a:hover{
  color: #fdfd96;
}

.container{
  background-color: #1d2021;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
}

header {
  text-align: center;
  /* margin: 20px; */
}

footer {
  text-align: center;
}

blockquote{
  background-color: #444444;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  margin: 10px;
}
